/* ProfileSelector.css */
/* body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f1f3f4;
  } */

  .profile-selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f1f3f4;
    min-height: 100vh;
  }
  
  .profile-selector {
    text-align: center;
    color: #202124;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .profile-subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 48px; 
    color: #5f6368; 
    line-height: 1.5;
  }
  
  .profiles {
    display: flex;
    justify-content: center;
    gap: 48px; 
    flex-wrap: wrap;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
    cursor: pointer;
    transition: box-shadow 0.3s;
    width: 224px; 
    height: 224px;

  }
  
  .profile-icon {
    width: 128px; 
    height: 128px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px; 
    color: white; 
    margin: 0 auto; 
    margin-bottom: 20px;
  }
  
 
  
  .profile:hover {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
  }
  
 
  
  .profile-name {
    font-size: 16px;
    font-family: "Lucida Sans";
    color: #202124;
  }
  
  .add-profile .profile-icon {
    border: 2px dashed #dadce0; 
    background-color: transparent;
    color: black; 
    font-size: 32px; 
    width: 64px; 
    height: 64px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
  }